// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

#landing-wrapper {
  position: relative;
  display: flex; /* Use flexbox for centering */
  flex-direction: column; /* Stack elements vertically */
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
  background-image: url('/TruSDaSh/assets/img/landing_background_cut.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; /* Ensure the image covers the container */
  height: 430px;
  //width: 100%;
  text-align: center; /* Center text and inline elements */
}

#landing-wrapper img.logo {
  height: 73px;
  margin-bottom: 20px; /* Add spacing between logo and other elements */
}

#landing-wrapper .button {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.28px;
  background-color: #000000;
  color: white;
  padding: 20px 66px;
  text-decoration: none;
  border: none;
  border-radius: 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#landing-wrapper .button:hover {
  background-color: #333; /* Hover effect */
}


#landing-wrapper h2.landing-info {
  text-align: center;
  font-size: 36px;
  font-weight: lighter;
  text-transform: uppercase;
}

#landing-wrapper h3.landing-info {
  position: absolute;
  bottom: 0;
  text-align: center;
  font-size: 36px;
  font-weight: lighter;
}

header img.logo {
  max-height: 48px;
  padding-top: 6px;
  padding-bottom: 6px;
}